<h2>Books</h2>

<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

<ul class="book-list">
  <li *ngFor="let book of books" class="book-card">
    <img *ngIf="book.photo" [src]="book.photo" [alt]="book.title" class="book-photo" />
    <div class="book-info">
      <h3>{{ book.title }}</h3>
      <p class="author">by {{ book.author }}</p>
      <p class="description">{{ book.description }}</p>
      <p class="price">{{ book.price | currency }}</p>
      <div class="actions" *ngIf="isLoggedIn$ | async">
        <button type="button" (click)="addToFavorites(book)">Add to Favorites</button>
        <button type="button" (click)="buyBook(book)">Buy</button>
      </div>
    </div>
  </li>
</ul>
